<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.example.agendaCorsi.AgendaCorsiApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendaCorsi"
        tools:targetApi="31">
        <activity
            android:name="com.example.agendaCorsi.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.agendaCorsi.ui.settaggi.ModificaSettaggi" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.example.agendaCorsi.ui.contatti.ModificaContatto" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.contatti.NuovoContatto" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.contatti.ElencoContatti" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.contatti.NuovoElementoPortfolio" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.contatti.ModificaElementoPortfolio" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.example.agendaCorsi.ui.corsi.ElencoCorsi" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.corsi.ModificaCorso" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.corsi.NuovoCorso" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.corsi.NuovaFascia" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.corsi.ModificaFascia" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.example.agendaCorsi.ui.iscrizioni.ElencoFasceCorsi" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.example.agendaCorsi.ui.iscrizioni.NuovaIscrizione" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.iscrizioni.ModificaIscrizione" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.iscrizioni.ModificaFasciaIscrizione" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.iscrizioni.SpostaIscrizione" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.example.agendaCorsi.ui.iscrizioni.ElencoIscrizioni" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>